*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

.nav-item a{
    color: white;
    font-size: 20px;
}
/* home */
.home{
    width: 100%;
    height: 800px;
    background-image:url(images/2538198.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.content{
    background-color: rgba(51, 45, 45, 0.189);
    height: 800px;
}
.home .content{
    text-align: center;
    padding-top: 20px;
}
.home .content h5{
    color: white;
    font-size: 38px;
    font-weight: 550;
    text-shadow: 0px 1px 1px black;
}
.home .content h1{
    color: white;
    font-size: 70px;
    font-weight: 550;
    text-shadow: 0px 1px 1px black;
    margin-top: 5px;
}





/* Section Gallary Start */
.gallery{
    margin-top: 50px;
    
}
.gallery .card{
    border-radius: 10px;
    box-shadow: rgba(0,0,0,0.1) 0px 4px 12px;
    cursor: pointer;
}
.gallery .card img{
    border-radius: 10px;
    transition: 0.2s;
}
.gallery .card img:hover{
    transform: scale(1.1);
    color: #0f0101;
}


/* testimonal */

.testimonal{
    
    padding: 50px;
    margin-bottom: 30px;
}
.testimonal h1{
    font-weight: 600;
}

.tspan span{
    font-weight: 600;
    color: #2219a4;

}



/* Contact */


#contact {    
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    background-color: #0f0101;
    background-image: url(images/bg-c.jpg); 
    margin-left: 80px;
    margin-right: 80px;
}
/* 
#contact h1{
    text-align: center;
    padding: 50px;
    text-shadow: 0px 1px 1px black;
    font-weight: 600;
} */
/* #contact  h1 .u{
    color: #2219a4;
    font-size: 36px;
    
    font-weight: 600;
    
} */
#contact h3 {
    text-align: center;
    font-size: 30px;
    margin-top: 12px;
    margin-bottom: 48px;
}
/* #contact form {
    display: flex;
    flex-wrap: wrap;
    background: #f9f9f9;
    margin: 30px 100px;
    padding: 50px;
    border-radius: 8px;
}
#contact form input[type=text] {
    width: 100%;
    border: 1px solid rgb(200, 198, 198);
    margin-bottom: 16px;
    padding: 16px;
    border-radius: 8px;
}
#contact form input[type=email] {
    width: 100%;
    border: 1px solid rgb(200, 198, 198);
    margin-bottom: 16px;
    padding: 16px;
    border-radius: 8px;
}
#contact form textarea {
    width: 100%;
    border: 1px solid rgb(200, 198, 198);
    margin-bottom: 24px;
    padding: 16px;
    border-radius: 8px;
    height: 200px;
    resize: none;
}
#contact form input[type=submit] {
    width: 100%;
    border: 1px solid rgb(200, 198, 198);
    padding: 16px;
    border-radius: 8px;
    font-size: 16px;
    background: rgb(58, 12, 132);
    color: white;
    transition: .5s ease-in-out;  
}
#contact form input[type=submit]:hover {
    background: white;
    color: rgb(46, 46, 197);
} */

@media (max-width:765px){
    #contact{
        padding: 0;
    }
}


/* Footer Start */
#footer{
    width: 100%;
    height: 500px;
    margin:80px 0 80px 0;
    text-align: center;
    background: #121010;
    color: #f9f9f9;
    padding-top: 50px;
}

#footer h2{
    font-weight: 600;
    padding-top: 30px;
    text-shadow: 0px 0px 1px black;
    
}


.social-links i{
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    background: black;
    color: white;
    margin-left: 10px;
    margin-bottom: 10px;
    transition: 0.5s ease;
    cursor: pointer;
}
.social-links i:hover{
    background:  #c3c2d4;
    
}

@media (max-width:765px){
    #footer{
        padding: 0;
    }
}
/* Footer End */